i{
	border: 2px solid white;
	padding: 5px;
	margin: 5px;
	color: white;

}
i:hover{
	border: 2px solid red;
	padding: 5px;
	margin: 5px;
	color: white;

	

}
body{
	background-color: black;
	background-image: url(https://images.pexels.com/photos/3016350/pexels-photo-3016350.jpeg?cs=srgb&dl=pexels-pierre-blach%C3%A9-3016350.jpg&fm=jpg);"
}
h2{
	color: white;
	font-size: 60px;
	text-align: center;

}
p{
	color: white;
	text-align: center;
}
a{
	background-color:red;
	color: white;
	padding: 10px;
	text-decoration: none;
	
	
}
a:hover{
	background-color:white;
	color: red;
	padding: 10px;
	text-decoration: none;
	
}
h1{
	color: white;
	font-size: 60px;
	text-align: center;
}
